In [1]:
# 1. 
'''List Exercise
Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,'''

monthly_expense = [2200 , 2350 , 2600 , 2130 , 2190]

In [2]:
# 1. In Feb, how many dollars you spent extra compare to January?
january = 2200 
febuary = 2350 
extra_expnse_in_febuary = febuary - january
extra_expnse_in_febuary

150

In [3]:
# 1.2. Find out your total expense in first quarter (first three months) of the year.
three_months =  monthly_expense[:3]
total = sum(three_months)
total

7150

In [4]:
# 1.3. Find out if you spent exactly 2000 dollars in any month
# here we will use "in" 
2000 in monthly_expense

False

In [5]:
# 1.4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
# we will use "append" for it 
july = 1980
monthly_expense.append(july)

In [6]:
monthly_expense

[2200, 2350, 2600, 2130, 2190, 1980]

In [12]:
""" 1.5.  You returned an item that you bought in a month of April and
   got a refund of 200$. Make a correction to your monthly expense list
based on this"""

refund = 200 
april_value = 2130  # before refund 
monthly_expense[3] -= refund
monthly_expense

[2200, 2350, 2600, 1730, 2190, 2330, 1980]

In [13]:
# ******************************************************************************************************
# **********************************************************************
# ******************************************************************************************************

In [14]:
# 2. You have a list of your favourite marvel super heros.
heros=['spider man','thor','hulk','iron man','captain america'] 
# Using this find out,

In [15]:
# 2.1 Length of the list 
len(heros)

5

In [16]:
# 2.2 Add 'black panther' at the end of this list 
# we will use "append" for it 
heros.append("black panther")
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [17]:
# 2.3 You realize that you need to add 'black panther' after 'hulk', so remove it from the list first and then add it after 'hulk'
# for removal we can use "del , pop , remove()" 
del heros[-1]

In [18]:
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america']

In [22]:
heros.insert(2, "black panther")

In [23]:
heros

['spider man',
 'thor',
 'black panther',
 'hulk',
 'black panther',
 'iron man',
 'captain america']

In [27]:
 """2.4  now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.""" 
heros[1:3]=['doctor strange']
heros

['spider man',
 'doctor strange',
 'black panther',
 'iron man',
 'captain america']

In [28]:
# 2.5 Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)
heros.sort()
heros

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man']